version: 2.1
orbs:
  architect: giantswarm/architect@4.28.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite" 
          name: "package and push linkerd-bundle chart"
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "linkerd-bundle"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
